@import '../../../styles/variables';

.logo{
    padding: 5px 0;

    &__image{
        width: 135px;
        height: 65px;

        @media screen and (max-width: $breakpoint-tablet) {
            width: 120px;
            height: 56px;
        }

        @media screen and (max-width: $breakpoint-mobile) {
            width: 90px;
            height: 44px;
        }
    }
}