// This is the root file for all the Global SASS Variables

$primary-color: #fff;
$secondary-color: #ddd;
$button-color: #e22b62;
$text-color: #212121;
$button-text-color: #fff;

$breakpoint-tablet: 768px;
$breakpoint-mobile: 480px;
$breakpoint-smallLaptop: 1024px;

$max-width-screen: 960px;