// This is the root file for all the Global SASS Variables

$primary-color: #fff;
$secondary-color: #ddd;
$button-color: #e22b62;
$text-color: #212121;
$button-text-color: #fff;
$nav-text-color: #4d4d4d;

$text-font-size: 0.9rem;
$small-font-size: 0.8rem;

$breakpoint-tablet: 768px;
$breakpoint-mobile: 480px;
$breakpoint-smallLaptop: 1024px;

$max-width-screen: 960px;