@import '../../../styles/variables';

$nav-text-color: #4d4d4d;

@mixin basic-nav-styling($font-size, $align-flex-child, $padding-left, $margin-right) {
    display: inline-block;
    color: $nav-text-color;
    font-size: $font-size;
    align-self: $align-flex-child;
    padding-left: $padding-left;

    &__link {
        margin-right: $margin-right;
        font-weight: 600;
    }

    @media screen and (max-width: $breakpoint-mobile){
        display: none;
    }
}

.header{
    width: 100%;
    box-shadow:0px 0px 10px 0px #9e9e9e;

    &__sub-container{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        color: $text-color;
        max-width: $max-width-screen;
        margin: 0 auto;
        min-height: 10vh;
    
        &__nav__items {
            @include basic-nav-styling(1rem, end, 2.5rem, 2rem);
            padding-bottom: 10px;
            flex-grow: 1;
        }
    
        &__nav-wrapper{
            min-height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            @media screen and (max-width: $breakpoint-mobile) {
                flex-direction: row;
            }

            &__login {
                @include basic-nav-styling(0.85rem, start, 1.5rem, 0.5rem);
                padding-top: 5px;
            }
        }
    }
}